body{
	background-color: #E5DED7;
	color: #817C7B;
	min-width: 525px;
}
@font-face {
	font-family: Russo One; /* Гарнитура шрифта */
	src: url(fonts/Russo-One.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: Trochut; /* Гарнитура шрифта */
	src: url(fonts/Trochut.ttf); /* Путь к файлу со шрифтом */
}

@media screen{ 
.header{
	margin-top: 5%;
}
.header-text{
	display: inline;
	font-family: Trochut;
	font-style: normal;
	font-weight: normal;
	font-size: 144px;
	line-height: 169px;
	vertical-align: top;

}
.header-img{
	display: inline;
	width;
	height: 273px;
}
.hello{
	text-align: center;
	font-family: Russo One;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 58px;
}
.form-control{
	border: 5px solid #FFFEFE;
	box-sizing: border-box;
	border-radius: 50px;
	background-color: #E5DED7;
	outline: none;

	height: 8%;
	margin-top: 1%;
	padding-right: 40px;

	font-family: Russo One;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 34px;
	text-align: center;
}
.btn{
	border: 5px solid #FFFEFE;
	box-sizing: border-box;
	border-radius: 50px;
	background-color: #E5DED7;
	padding-right: 20px;
	padding-left: 20px;
	height: 8%;
	margin-top: 1%;

	font-family: Russo One;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 34px;
	text-align: center;
	color: #817C7B; 

}
.registration{

	font-family: Russo One;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	margin-top: 1%;
}
.login{
	background: url(Login.png) no-repeat right;
		background-size: 40px;
}

.pass{
	background: url(Pass.png) no-repeat right;
	background-size: 40px;
}
}