body{
	background-color: #E5DED7;
	color: #817C7B;
}
@font-face {
	font-family: Russo One; /* Гарнитура шрифта */
	src: url(fonts/Russo-One.ttf); /* Путь к файлу со шрифтом */
}

@media screen and (min-width: 426px)
{ 

	.accaunt{
		margin-left: 6%;
		margin-top: 2%;

		font-family: Russo One;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;

	}
	.h{

		font-family: Russo One;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		line-height: 60px;
		text-align: center;

		color: #817C7B;
	}
	.check_period{
		margin-left: 10%;
		width: 80%;
		margin-top: 3%;
	}
	.check{
		margin-top: 1%;
	}
	.choose{
		cursor: pointer;
		vertical-align: center;	
		font-family: Russo One;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		line-height: 36px;
		text-align: center;

		color: #817C7B;

	}
	select{

		border: 5px solid #FFFEFE;
		box-sizing: border-box;
		border-radius: 50px;
		background-color: #E5DED7;
		width: 30%;
		height: 36px;
		float: right;
		margin-right: 10%;
		vertical-align: center;
		color: #817C7B;

		font-family: Russo One;
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
	}
	#chart_div{
		margin-top: 8%;
	}

	#middle{
		margin-top: 2%;
		margin-left: 15%;
		float: left;
		font-family: Russo One;
		font-style: normal;
		font-weight: normal;
		color: #817C7B;
	}
	.phrase{
		display: none;
	}
}

@media screen and (max-width: 426px)
{
	.accaunt{
		margin-left: 1%;
		margin-top: 8%;

		font-size: 15px;
		font-family: Russo One;
		color: #817C7B;
	}
	.h{
		margin-top: 2%;
		font-family: Russo One;
		font-size: 33px;
		line-height: 42px;
		text-align: center;

		color: #817C7B;
	}
	.check_period{
		margin-left: 5%;
		width: 90%;
		margin-top: 8%;
	}
	.choose{
		display: block;
		font-family: Russo One;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		line-height: 30px;
		text-align: center;

		color: #817C7B;

	}
	select{
		width: 60%;
		margin-top: 4%;
		font-family: Russo One;
		text-align: center;

		color: #817C7B;

	}
	#chart_div{
		margin-top: 10%;
		background: #FEFEFE;
	}
	.phrase{
		display: block;
		width: 318px;
		height: 104px;
		left: 48px;
		top: 733px;

		font-family: Russo One;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 27px;
		text-align: center;

		color: #817C7B;
	}
}